{% load custom_tags %}
<div class="col-md-11 mt-5">
    <h3>{{ teacher.name }}</h3>
         <table class="table table-bordered">
            <tr>
                <td class="center">#</td>
                {% for day in days %}
                    <td class="center">{{ day.label }}</td>
                {% endfor %}
            </tr>
            {% for hour in hours %}
                <tr>
                <td>{{ hour.label }}</td>
                {% for i in hour.id|times %}

                    {% with timetable|index:i as table %}
                        {% if table.first.course %}
                            <td class="table-{{ table.first.course_type|get_type }}" >
                            {% if table.first.course %}
                                {{ table.first.course }}<br>{{ table.first.teacher }}<br>{{ table.first.classroom }}<br>
                            {% endif %}
                            {% if table.second.course %}
                                <br>
                                {{ table.second.course }}<br>{{ table.second.teacher }}<br>{{ table.second.classroom }}<br>
                            {% endif %}
                            {% if table.third.course %}
                                <br>
                                {{ table.third.course }}<br>{{ table.third.teacher }}<br>{{ table.third.classroom }}<br>
                            {% endif %}
                        </td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    {% endwith %}
                {% endfor %}
                </tr>
            {% endfor %}
            </table>
    </div>