 body {
                background: #F5F5F5;
                font: 18px/1.5 sans-serif;
                font-size: 0.9rem !important;
            }
            div.col-md-4, div.col-md-6{
                padding-right: 2em;
                padding-left: 2em;
            }
            .menuWrapper {
                padding: 20px 0 20px 0;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;

            }
            .menuWrapper a{
                margin-left: 10px;
                margin-bottom: 5px;

            }
            .menuWrapper a:first-child{
                margin-left: 0;

            }



            .jumbotron {
                padding: 1rem 1rem !important;
                background-color: #607d8b8c !important;
                border-bottom: 1em solid #e3051394;
            }
            h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
            h1 { font-size: 36px; }
            h2 { font-size: 21px; margin-bottom: 1em; }
            p { margin: 0 0 1em 0; }
            a { color: #0000F0; }
            a:hover { text-decoration: none; }
            code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
            #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
            #container { padding: 2em; }
            #welcome, #status { margin-bottom: 2em; }
            #welcome h1 span { display: block; font-size: 75%; }
            #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
            #icon-book { display: none; }

            @media (min-width: 768px) {
                #wrapper { width: 80%; margin: 2em auto; }
                #icon-book { display: inline-block; }
                #status a, #next a { display: block; }

                @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
                @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
                .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
            }


            .chekbox-big {
                zoom: 1;
                transform: scale(2);
                -ms-transform: scale(2);
                -webkit-transform: scale(2);
                -o-transform: scale(2);
                -moz-transform: scale(2);
                transform-origin: 0 0;
                -ms-transform-origin: 0 0;
                -webkit-transform-origin: 0 0;
                -o-transform-origin: 0 0;
                -moz-transform-origin: 0 0;
                -webkit-transform-origin: 0 0;
            }

