{% load widget_tweaks %}
<div class="form-group mt-2 mb-4 {% if field.field.widget.attrs.class == 'hideable' %} hideable d-none {% endif %}">
    <div class="col-sm-6 control-label  font-18 text-left">
        <h6>{{ field.label }}</h6>
    </div>
    <div class="col-sm-12">
        {% if field|field_type == 'imagefield' or field|field_type == 'filefield' %}
          <div class="form-control">
              {{ field }}
          </div>
        {% elif field|field_type == 'multiselectformfield' or field|field_type == "modelmultiplechoicefield" %}
            {% for  choice in field %}
                {{choice}}
            {% endfor %}
            {% elif field|field_type == 'booleanfield' %}
            {{ field|add_class:"" }}
        {% else %}
            {{ field|add_class:"form-control" }}
        {% endif %}
        {% for error in field.errors %}
            <p class="text-danger">{{ error }}</p>
        {% endfor %}

    </div>
</div>
