{% load custom_tags %}


<div id="classroom_id03"  class="col-md-11 mt-5">
         <table class="table table-bordered">
            <tr>
                <td class="center">#</td>
                {% for day in days %}
                    <td class="center">{{ day.label }}</td>
                {% endfor %}
            </tr>
            {% for hour in hours %}
                <tr>
                <td>{{ hour.label }}</td>
                {% for i in hour.id|times %}

                    {% with timetable|index:i as table %}
                        {% if table.course %}
                            {% if table.course != "reserved" %}
                        <td class="droppable" style="width: 300px; height: 120px; padding: 0" data-id="{{ i }}">
                        <div class="exist table-{{ table.course_type|get_type }}" style="width: 300px; height: 120px; padding:0" data-course-id="{{ table.course_id }}">
                            {{ table.course }}<br>{{ table.department }}<br>{{ table.teacher }}
                            <a class="delete" href="#">X</a>
                        </div>
                        </td>
                                {% else %}
                                <td class="droppable" style="width: 300px; height: 120px; padding: 0" data-id="{{ i }}">
                        <div class="exist table-{{ table.course_type|get_type }}" style="width: 300px; height: 120px; padding:0">
                            {{ table.course|title }}
                        </div>
                        </td>
                                {% endif %}

                            {% else %}
                        <td style="width: 300px; height: 120px; padding: 0" data-id="{{ i }}" class="droppable not_exist">
                        </td>
                        {% endif %}
                        {% endwith %}
                    {% endfor %}
                </tr>
            {% endfor %}
            </table>
</div>