{% load static %}
<div class="jumbotron text-center" style="margin-bottom:0">
    <h1>Ders Planı Sistemi <span>3.0</span></h1>
    <p>Kırgızistan Türkiye Manas Üniversitesi</p>
</div>


    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="/dersplan/manual">Kullanım Kılavuzu</a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            {% if request.user.is_authenticated %}
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/dersplan/editor/"> DersPlanı Editörü</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dersplan/classroom/">Fakülteye Ait Derslikler</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dersplan/course/">Bölüm Dersleri</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dersplan/gradeyear/">Sınıflar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dersplan/teacher/">Öğretmenler</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dersplan/coursevsroom/"> Özel Alan Dersleri</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/dersplan/rooms_plan">Boş/Dolu Derslikleri</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dersplan/report"> DersPlana Yerleşmeyen Dersler Listesi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/"> DersPlan </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile/change-password">Şifre Değiştir</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'secretariat:logout' %}">Çıkış Yap</a>
                </li>

            </ul>
            {% endif %}
        </div>
    </nav>