{% extends 'secretariat-base.html' %}
{% block content %}

<div class="container-l  mx-auto" style="width: 90%">
	<div class="table-responsive">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-6">
						<h2><b>Sınıflar</b></h2>
					</div>
					<div class="col-sm-6">
						<a href="{% url 'secretariat:create_grade_year' %}" class="btn btn-success"><i class="material-icons">&#xE147;</i> <span>Yeni Sınıf olustur</span></a>
					</div>
				</div>
			</div>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th class="w-25">Sınıf</th>
						<th>Bölüm</th>
                        <th>Işlemler</th>
					</tr>
				</thead>
				<tbody>
                {% for grade_year in grade_years %}
					<tr>
						<td>{{ grade_year.grade}}</td>
						<td>{{ grade_year.department}}</td>
						<td>
							<a href="{% url 'secretariat:update_grade_year' id=grade_year.id %}" class="edit"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
							<a href="{% url 'secretariat:delete_grade_year' id=grade_year.id %}" class="delete"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
						</td>
					</tr>
                {% endfor %}
				</tbody>
			</table>
			<div class="clearfix">
				<div class="hint-text">Total: {{ total_count }} entries</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
