{% load static %}
{% load custom_tags %}
<html><head>
    <meta charset="UTF-8">
    <title>DersPlan Ana Sayfa</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>



<body>
<div class="jumbotron text-center" style="margin-bottom:0">
    <a href="/dersplan/usage"><img src="{% static 'images/logo.png' %}"></a>
    <h3>Kırgızistan Türkiye Manas Üniversitesi</h3>
    <p><a style="color:#000000" href="/dersplan/course/">Ders Planı Sistemi</a></p>

</div>



<div class=".container-fluid">
    <div class="row justify-content-md-center">
        <div class="col-md-6">
                    <br>
    <h3>Öğretim Elemanları Bazında Haftalık Plan</h3>
        <a href="/">Ana sayfa</a>
            <hr>

            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="department_id">Bölüm seçiniz</label>
                    <select name="department" id="department_id" class="form-control">
                        {% for department in departments %}
                            {% if department.id == selected_department.id %}
                        <option value="{{ department.id }}" selected>{{ department.name }}</option>
                            {% else %}
                            <option value="{{ department.id }}">{{ department.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            <input type="submit" value="Göster" class="btn btn-info btn-block">
            </form>

        {% if timetable %}
            <table><thead><tr><td><h4>Ders Planında Renklerin Anlamı</h4></td></tr></thead>
                <tbody>
                    <tr class="table-primary"><td>Ortak dersler</td></tr>
                    <tr class="table-success"><td>Zorunlu Dersler</td></tr>
                    <tr class="table-warning"><td>Seçmeli Dersler</td></tr>
                    <tr class="table-secondary"><td>Bolum Dışı Seçmeli Dersler</td></tr>'
                </tbody></table>
        {% endif %}

        <a href="/">Ana sayfa</a>
    </div>
</div>
</div>
</body>
</html>