{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'header.html' %}


<div class=".container-fluid">
    <div class="row justify-content-md-center">
            <div class="menuWrapper">
                <a  href="/teacher"><button class="btn btn-info btn-block">Öğretim Elemanları Bazında Haftalık Plan</button></a>
                <a  href="/department"><button class="btn btn-info btn-block">Bölüm Bazında Haftalık Plan</button></a>
                <a  href="/room"><button class="btn btn-info btn-block">Derslikler Bazında Plan</button></a>
            </div>
        <div class="col-md-6">
    <h3>Bölüm Bazında Haftalık Plan</h3>
        <a href="/">Ana sayfa</a>
            <hr>

            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="fakulte_id">Fakülte seçiniz</label>
                    <select onchange="faculty()" name="fakulte" id="fakulte_id" class="form-control">
                        <option value="none" selected>---------</option>
                        {% for faculty in faculties %}
                            {% if faculty.id == selected_faculty.id %}
                            <option value="{{ faculty.id }}" selected>{{ faculty.name }}</option>
                            {% else %}
                            <option value="{{ faculty.id }}">{{ faculty.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="department_id">Bölüm seçiniz</label>
                    {% if has_error %}
                        <small class="text-danger">
                            <br>
                            <span style="border-radius:55px;padding: 2px; background:#dc3545; color: white;">HATA</span>
                            {{ has_error }}
                        </small>
                    {% endif %}
                    <select name="department" id="department_id" class="form-control">
                        <option value="none" selected>---------</option>
                        {% for department in departments %}
                            {% if department.id == selected_department.id %}
                            <option data-faculty-id="{{ department.faculty.id }}" value="{{ department.id }}" selected>{{ department.name }}</option>
                            {% else %}
                            <option data-faculty-id="{{ department.faculty.id }}" value="{{ department.id }}">{{ department.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            <input type="submit" value="Göster" class="btn btn-info btn-block">
            </form>

        {% if timetable %}
            <table><thead><tr><td><h4>Ders Planında Renklerin Anlamı</h4></td></tr></thead>
                <tbody>
                    <tr class="table-primary"><td>Ortak dersler</td></tr>
                    <tr class="table-success"><td>Zorunlu Dersler</td></tr>
                    <tr class="table-warning"><td>Seçmeli Dersler</td></tr>
                    <tr class="table-secondary"><td>Bolum Dışı Seçmeli Dersler</td></tr>
                </tbody></table>
        {% endif %}

        <a href="/">Ana sayfa</a>
    </div>
    {% if timetable %}
    <div class="col-md-11">
    <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
        {% for year, table in timetable.items %}
            {% if forloop.first %}
            <li class="nav-item ml-3" role="presentation">
                <a style="font-size: 2em; color: #e3051394" class="nav-link active show" id="{{ year }}-tab" data-toggle="tab" href="#{{ year }}" role="tab" aria-controls="7-SINIF" aria-selected="true">{{ year }}-SINIF</a>
            </li>
            {% else %}
            <li class="nav-item ml-3" role="presentation">
                <a style="font-size: 2em; color: #e3051394" class="nav-link" id="{{ year }}-tab" data-toggle="tab" href="#{{ year }}" role="tab" aria-controls="{{ year }}-SINIF" aria-selected="false">{{ year }}-SINIF</a>
            </li>
            {% endif %}
        {% endfor %}

    </ul>
    <div class="tab-content" id="myTabContent">
        {% for year, table in timetable.items %}
            {% if forloop.first %}
        <div class="tab-pane fade active show" id="{{ year }}" role="tabpanel" aria-labelledby="{{ year }}-tab">
            {% include 'partial/department_timetable.html' with teacher=selected_teacher days=days hours=hours timetable=table %}
            </div>
            {% else %}
                <div class="tab-pane fade" id="{{ year }}" role="tabpanel" aria-labelledby="{{ year }}-tab">
            {% include 'partial/department_timetable.html' with teacher=selected_teacher days=days hours=hours timetable=table %}
            </div>

            {% endif %}
        {% endfor %}
    </div>
    </div>
    {% endif %}
</div>
</div>

<script>
    const faculties = document.getElementById('fakulte_id');
      faculties.onchange = e => {
          const currentFaculty = e.target.value;
          const departments = document.getElementById('department_id');
          let first = true;
          for (const option of departments.options) {
              if (option.getAttribute('data-faculty-id') === currentFaculty) {
                  if (first) {
                      first = false;
                      departments.value = option.value;
                    }
                  option.style.display = 'block';
              } else {
                  option.style.display = 'none';
              }
          }
          if (first) departments.value = 'none';
      };
</script>
{% endblock content %}