{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'header.html' %}
<div class=".container-fluid">
    <div class="row justify-content-md-center">
        <div class="col-md-4" style="text-align: center">
            <br>
            <h1>Dersplanı işlemleri </h1>
            <br>

            <a class="btn btn-outline-primary btn-block" href="/teacher">Öğretim Elemanları Bazında Haftalık Plan</a>
            <br>
            <a class="btn btn-outline-primary btn-block" href="/department">Bölüm Bazında Haftalık Plan</a>
            <br>
            <a class="btn btn-outline-primary btn-block" href="/room">Derslikler Bazında Plan</a>
            <br>
        </div>
    </div>
</div>

<script src="{% static 'js/bootstrap.js' %}"></script>
{% endblock content %}