{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'header.html' %}


<div class=".container-fluid">
    <div class="row justify-content-md-center">
        <div class="col-md-6">
                    <br>
    <h3>Öğretim Elemanları Bazında Haftalık Plan</h3>
        <a href="/">Ana sayfa</a>


            <hr>

            <form method="post">
            {% csrf_token %}
                <div class="form-group">
                    <label for="teacher_id">Öğretmen seçiniz</label>
                    <select name="teacher" id="teacher_id" class="form-control">
                        {% for teacher in teachers %}
                            {% if teacher.id == selected_teacher.id %}
                        <option value="{{ teacher.id }}" selected>{{ teacher.name }}</option>
                            {% else %}
                            <option value="{{ teacher.id }}">{{ teacher.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            <div class="form-group">
                <label for="teacher_number_id">Sicil numaranızı giriniz</label>
                {% if teacher_code %}
                    <input value="{{ teacher_code }}" id="teacher_number_id" type="number" name="teacher_number" step="000.001" min="0"  class="form-control">
                {% else %}
                    <input id="teacher_number_id" type="number" name="teacher_number" step="000.001" min="0"  class="form-control">
                {% endif %}
            </div>
            <input type="submit" value="Göster" class="btn btn-info btn-block">
            </form>


        {% if timetable %}
            <table><thead><tr><td><h4>Ders Planında Renklerin Anlamı</h4></td></tr></thead>
                <tbody>
                    <tr class="table-primary"><td>Ortak dersler</td></tr>
                    <tr class="table-success"><td>Zorunlu Dersler</td></tr>
                    <tr class="table-warning"><td>Seçmeli Dersler</td></tr>
                    <tr class="table-secondary"><td>Bolum Dışı Seçmeli Dersler</td></tr>'
                </tbody></table>
        {% endif %}

        <a href="/">Ana sayfa</a>
    </div>
    {% if timetable %}
        {% include 'partial/teacher_timetable.html' with teacher=selected_teacher days=days hours=hours timetable=timetable %}
    {% endif %}

</div>
</div>
<script>
    let sicode = document.getElementById("teacher_number_id");
    let teachersListSelect = document.getElementById("teacher_id");

    function enable(){

        if (sicode.value === ''){
            teachersListSelect.disabled = false;
        } else {
            teachersListSelect.disabled = true;
        }
    }

    sicode.addEventListener("input", () => {
        console.log(sicode.value);

        enable();
    });

</script>
{% endblock content %}